<h1><a href="/diaries/">Home</a></h1>

<h3><%= @diaries.title %></h3>

<p><%= @diaries.expiration %></p>
<p><%= @diaries.kind %></p>

<h3><a href="/diaries/<%= @diaries.id %>/edit">Edit</a></h3>
<%= link_to 'Edit', edit_crud_diary_path(@diaries.id) %>



